.delete-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  border-radius: 9px;
  background-color: white;
  padding: 1.5rem;
  z-index: 10;
}

.delete-name {
  color: red;
}

.delete-small {
  font-size: 0.8em;
  color: red;
  margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
  .delete-container {
    width: auto;
  }
}