.note-container {
  margin-top: 12px;
  border: 6px solid #555;
  border-radius: 5px 5px 0 0;
  width: 100%;
  max-height: 600px;
  overflow-y: scroll;
}

.note-box {
  margin: 12px 2px;
}

.note-content {
  display: inline;
  border-radius: 9px;
  background-color: lightgray;
  margin: 3px 0;
  padding: 4px 6px;
  position: relative;
}

.note-content::after {
  content: " ";
  position: absolute;
  top: 95%;
  left: 10%;
  border: 5px solid;
  border-color: lightgray transparent transparent;
}

.note-footer {
  font-size: .7em;
  margin: 3px 6px;
  display: block;
  padding: 4px 0px;
}

.note-create {
  display: flex;
  border: 6px solid #555;
  border-top: none;
}

.note-input {
  width: 100%;
  resize: none;
}

.note-submit {
  border: none;
  background-color: rgba(226, 149, 76, 1);
  cursor: pointer;
}

.note-submit:hover {
  background-color: rgba(226, 149, 76, .7);
}

@media screen and (min-width: 600px) {
  .note-container, .note-create {
    max-width: 400px;
    margin-left: 20px;
  }
}